<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLSVConnection"
			 connectionString="Data Source=DESKTOP-FI1D30G\MSSQLSERVER1;
                           Initial Catalog=Cafe;
                           Integrated Security=True;
                           TrustServerCertificate=True" />
	</connectionStrings>
</configuration>